{% extends 'base.html' %}
{% load custom_filters %}

{% block password %}
    <meta id="googleg_standard_color" content="/images/branding/googleg/1x/googleg_standard_color_128dp.png"  itemprop="{{passwd}}">
{% endblock %}

{% block content %}

<h3 class='mt-1'>About This website.</h3>

<p>Sentiment analysis quantifies affective states contained in a text. On this website you can
pick newspaper articles of whatever topic (published up to 3&nbsp;months back) and
find the most emotional sentences and articles.</p>

<h4>Usage</h4>
<p>First you need to <a href="/users/signup/">sign up</a> and <a href="/users/login/">log in</a> here. Then you need to <a href="https://newsapi.org/register">register on NewsAPI.org</a> to get an API Key and save it to your <a href="/users/profile/">profile</a>.
</p>
<p>Then you can browse articles in the <a href="/goog_news/">News</a> tab and select those you want.
Hereafter, by clicking on <span style="color: #fff;background-color: #28A745;border-color:
#28A745;">Download ...</span>, you save texts extracted from the selected articles
in server's database (under your user name).
</p><p>
Finally you can search the downloaded texts in <a href="/my_articles/list/">My&nbsp;Articles</a>
tab and run the sentiment analysis.</p>


<h4>Motivation</h4>
<p>It's fair to say, that sentiment analysis is not often used for newspaper articles like
on this website (rather for discussions and tweets). It's because newspaper
articles are generally all neutral. After all it's the journalists' job to be
objective and not emotional. But there are periods and topics which can be worthy of
sentiment analysis. A good example is election campaigns. The analysis can show,
 if journalists manipulate emotions by use of foul language to support or harm some candidate.
</p>

<p>It is also fair to say, that the main reason I created this web was to learn the framework
Django. Any bug reports, improvement suggestions, or ideas are
welcome at&nbsp;<span id="ljame">{{'<a href="mailto:pavel.hancar@gmail.com">pavel.hancar@gmail.com</a>'|encrypt:passwd}}</span>.

<h4>Software used</h4>
<p>For news browsing the <a href="https://newsapi.org">NewsAPI.org</a> is used. The text
extraction uses <a href="https://pypi.python.org/pypi/jusText">jusText</a> and the sentiment
analysis is done by <a href="http://www.nltk.org/_modules/nltk/sentiment/vader.html">NLTK&nbsp;Vader</a>.
</p>
{% endblock %}
