{% extends "base.html" %}
{% load custom_filters %}
{% load custom_tags %}
{% block breadcrumbs %}{%breadcrumbs request.get_full_path%}{% endblock %}

{% block content %}
    <h3>Total results</h3>
    <table class="table table-striped">
    <tbody>
    {% for short_name, score in ps_sum.items %}
        <tr><td>{{short_name|extend_name}}</td><td>{{score|floatformat:3}}</td></tr>
    {% endfor %}
    </tbody>
    </table>

    {% if positive_articles|length > 1 %}
        <h3>Most positive articles</h3>
        <table class="table table-striped">
        <tbody>
        {% for score, article in positive_articles %}
            <tr><td><a href="{% url 'article_from_analysis' article.pk %}">{{article.title}}</a></td><td><a href="{{article.url}}">original</a></td><td>{{score|floatformat:3 }}</td></tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}

    {% if negative_articles|length > 1 %}
        <h3>Most negative articles</h3>
        <table class="table table-striped">
        <tbody>
        {% for score, article in negative_articles %}
            <tr><td><a href="{% url 'article_from_analysis' article.pk %}">{{article.title}}</a><td><a href="{{article.url}}">original</a></td></td><td>{{score|floatformat:3}}</td></tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}

    <h3>Most positive sentences</h3>
    <table class="table table-striped">
    <tbody>
    {% for score, sen_art in positive_sentences %}
        <tr><td>{{sen_art.0}}</td><td>
            {%if positive_articles|length > 1%}
                <button type="button" class="btn btn-info" data-toggle="popover"
                        data-html="true" data-placement="left" data-trigger="focus"
                        data-content="<ul>{%for a in sen_art.1%}<li><a href='{% url 'article_from_analysis' a.pk %}?highlight={{sen_art.0|urlencode}}'>{{a.title}}</a></li>{%endfor%}</ul>"
                >occurences</button>
            {%endif%}
            </td><td>{{score|floatformat:3}}</td></tr>
    {% endfor %}
    </tbody>
    </table>

    <h3>Most negative sentences</h3>
    <table class="table table-striped">
    <tbody>
    {% for score, sen_art in negative_sentences %}
        <tr><td>{{sen_art.0}}
            </td><td>{%if negative_articles|length > 1%}
                    <button type="button" class="btn btn-info" data-toggle="popover"
                            data-html="true" data-placement="left" data-trigger="focus"
                            data-content="<ul>{%for a in sen_art.1%}<li><a href='{% url 'article_from_analysis' a.pk %}?highlight={{sen_art.0|urlencode}}'>{{a.title}}</a></li>{%endfor%}</ul>"
                            >occurences</button>
                    {%endif%}
            </td><td>{{score|floatformat:3}}</td></tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %} 
