{% extends 'base.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% block breadcrumbs %}{%breadcrumbs request.get_full_path%}{% endblock %}
{% block content %}
    <h2>{{ article.title }}</h2>
    <div class="mb-2 mt-2">
        {% url 'article_from_analysis' article.pk as article_from_analysis_url %}
        {%if request.path == article_from_analysis_url %}
            <a href="{% url 'delete_article_from_analysis' article.pk %}" class="btn btn-danger">Delete Article</a>
            <a href="{% url 'analyse_article_from_analysis' article.pk %}" class="btn btn-success">Analyse Article</a>
        {% else %}
            <a href="{% url 'delete_article' article.pk %}" class="btn btn-danger">Delete Article</a>
            <a href="{% url 'article_analysis' article.pk %}" class="btn btn-success">Analyse Article</a>
        {% endif %}
    </div>
    <p><a href="{{article.url}}">Original</a> published at {{ article.publishedAt }}</p>
    <pre style="white-space:pre-wrap;">{{article.text|highlight:highlight_str|safe}}</pre>
{% endblock content %}
