{% extends 'base.html' %}

{% block title %}List of My Articles{% endblock %}

{% block content %}
<h3>List of My Articles</h3>
    <form action="" method="POST">{% csrf_token %}
        <div>
            <input type="text" name="str_to_search" value="{{last_str_to_search}}">
            <input class="btn btn-primary" name="search_titles" type="submit" value="Search Titles">
            <input class="btn btn-primary" name="fulltext_search" type="submit" value="Fulltext Search">
        </div>
    </form>
    <form style="display:none" id="not_displayed_form" action="" method="POST">{% csrf_token %}
            <input type="hidden" name="str_to_search" value="{{last_str_to_search}}">
            <input type="hidden" name="article_ids" value="{{article_ids|cut:' '}}">
    </form>

    {% if found_articles_num > 0 %} 
    <p class="text-muted">{{object_list|length}}/{{found_articles_num}}&nbsp;results{%if page_numbers|length > 1%}; page {{page}}{%endif%}</p>
    <div class="mb-2 mt-2">
            <a id="delete_selected_confirm" class="btn btn-danger" data-toggle="popover"
                data-placement="top" data-trigger="hover"
                data-content="Delete articles selected on the current page. You can't select articles across pages."
                >Delete selected articles</a>
            <a id="delete_all_confirm" class="btn btn-danger"
                >Delete all {{found_articles_num}} articles</a>
    </div>
    <div class="mb-2 mt-2">
        <input class="btn btn-secondary" type="button" value="Select all">
        <input class="btn btn-secondary" type="button" value="Unselect all">
        <input id="analyse_selected" class="btn btn-success" type="submit" value="Analyse selected"
            data-toggle="popover" data-placement="top" data-trigger="hover"
            data-content="Analyse articles selected on the current page. You can't select articles across pages.">
        <input id="analyse_all" class="btn btn-success" type="submit"
            value="Analyse all {{found_articles_num}} articles">
    </div>
    {% endif %}

    {% block my_articles%}
    {% endblock %}
{% endblock %}
