{% extends 'base.html' %}

{% block title %}Search Google News{% endblock %}

{% block content %}
<h3>Search Google News</h3>
    <form action="" method="post">{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div class="mt-1 mb-1">
            <input class="btn btn-primary" type="submit" value="Search">
        </div>
    </form>
    <form style="display:none" id="not_displayed_form" action="" method="post">{% csrf_token %}{{ form.as_p }}</form>

    {% if search_results|length > 0 %} 
    <div class="mb-2 mt-2">
        <p class="text-muted">{{search_results|length}}/{{total_results}}&nbsp;results; page&nbsp;{{page}} </p>
        <input class="btn btn-secondary" type="button" value="Select all">
        <input class="btn btn-secondary" type="button" value="Unselect all">
        <button id="download_selected"
                class="btn btn-success"
                type="submit" data-toggle="popover"
                data-placement="top" data-trigger="hover"
                data-content="Download articles selected on the current page. You can't select articles across pages."
                >Download selected</button>
        <button id="download_all"
                class="btn btn-success"
                type="submit"
                {%if increase_possible%}
                    data-toggle="popover"
                    data-placement="top"
                    data-trigger="hover"
                    data-content="The amount of articles can be higher if new articles come out between the search and download"
                {%endif%}
                >Download all {{total_results}}{%if increase_possible%}+{%endif%} results</button>
    </div>

    {% endif %}

    {% block goog_news%}
    {% endblock %}
{% endblock %}

{% block footer %}
    <footer class="page-footer center-on-small-only border-top">
            <span class="text-muted">Powered by <a href="https://newsapi.org">NewsAPI.org</a>.</span>
    </footer>
{% endblock %}
