<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block password %}
    {% endblock %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/css/loader.css">

    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/static/js/sentiment.js"></script>

    <title>News Sentiment Analysis</title>
</head>
<body>
        {% if messages %}
            {% for message in messages %}
                <div style="position:fixed;width:100%" class="alert{% if message.tags %} {{message.tags}}{% endif %} alert-dismissable fade show">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message|safe }}
                </div>
            {% endfor %}
        {% endif %}
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-1 bg-white box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal">News Sentiment Analysis</h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="{% url 'about' %}">About</a>
        {% if user.is_authenticated %}
          <a class="p-2 text-dark" href="{% url 'profile' %}">Profile ({{user}})</a>
          <a class="p-2 text-dark" href="{% url 'logout' %}">Log out</a>
        </nav>
        {% else %}
          <a class="p-2 text-dark" href="{% url 'login' %}">Log in</a>
        </nav>
        <a class="btn btn-outline-primary" href="{% url 'signup' %}">Sign up</a>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link {%if tab == 'news'%}active{%endif%}" href="{% url 'goog_news' %}">News</a></li>
        <li class="nav-item"><a class="nav-link {%if tab == 'my_articles'%}active{%endif%}" href="{% url 'my_articles' %}">My Articles</a></li>
    {% block additional_tabs %}
    {% endblock %}
    </ul>
    {% endif %}
    <div class="modal" id="myModal">
        <div id="loader"></div>
    </div>
    <div class="container">
        <span class="small ml-md-auto">{% block breadcrumbs%}{% endblock %}</span>
        {% block content %}
        {% endblock %}
    </div>
    {% block footer %}
    {% endblock %}
</body>
</html> 
