{% extends 'base.html' %}
{% load custom_tags %}
{% block breadcrumbs %}{%breadcrumbs request.get_full_path%}{% endblock %}

{% block content %}
    <h2>Delete article</h2>
    <form action="" method="post">{% csrf_token %}
      <p>Are you sure you want to delete <a href="{% url 'article' article.pk %}">{{ article.title }}?</a></p>
      <input class="btn btn-danger mb-1" type="submit" value="Confirm" />
    </form>
{% endblock %}
