{% extends 'base.html' %}

{%block breadcrumbs %}
    <a href="{%url 'my_articles_list' %}">List of My Articles</a>&nbsp;&raquo;
    Remove articles
{%endblock%}

{% block content %}
    <h2>Remove articles</h2>
        <form action="delete_many" method="post">{% csrf_token %}
            <input type="hidden" name="article_ids" value="{{article_ids|cut:' '}}">
            <p>Are you sure you want to delete{% if num_of_articles >= 10%} all {%endif%} the {{num_of_articles}} article{% if num_of_articles > 1%}s{%endif%}?</a></p>
            <input class="btn btn-danger mb-1" type="submit" value="Confirm" />
        </form>
{% endblock %}
