{% extends 'base_goog_news.html' %}
{% load custom_filters %}

{% block goog_news %}
{% for res in search_results %}
    <div class="clearfix search_res">
            <input type="checkbox" checked="checked" value="{{res.url}}">
            <img src="{{res.urlToImage}}" class='img-thumbnail float-left' width="100" height="100">
            <span><span class="publishedAt">{{res.publishedAt|format_datetime:time_shift}}</span> <a href="{{res.url}}">{{res.title}}</a></span>
            <p>{{res.description}}</p>
    </div>
{% endfor %}

{% if page_numbers|length > 1 %}
    <small class="bm-2">
    {% for page_num in page_numbers %}
        {% if page_num == page %}
            {{page_num}}&nbsp;&nbsp;&nbsp;
        {%else%}
            <a href="" class="page_numbers">{{page_num}}</a>&nbsp;&nbsp;&nbsp;
        {%endif%}
    {% endfor %}
    </small>
{% endif %}
{% endblock %}
