{% extends 'base_my_articles_list.html' %}
{% load custom_filters %}

{% block my_articles %}

{% for article in object_list %}
    <div class="clearfix">
        <input type="checkbox" checked="checked" value="{{article.pk}}">
        <a href="{% url 'article' article.pk %}">{{article.title|make_bold:last_str_to_search|safe}}</a> (<a href="{{article.url}}">original</a>)
        {%if search_type == "fulltext_search" %}
            <p>{{ article.text|arg_concat:100|cut_around_occur:last_str_to_search|make_bold:last_str_to_search|safe }}</p>
        {% else %}
            <p>{{ article.text|truncatechars:200 }}</p>
        {% endif %}
    </div>
{% endfor %}
{% if page_numbers|length > 1 %}
    <small class="bm-2">
    {% for page_num in page_numbers %}
        {% if page_num == page %}
            {{page_num}}&nbsp;&nbsp;&nbsp;
        {%else%}
            <a href="" class="page_numbers">{{page_num}}</a>&nbsp;&nbsp;&nbsp;
        {%endif%}
    {% endfor %}
    </small>
{% endif %}
{%endblock%}
