{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<h4>Edit Profile</h4>
<form method="post">
    {% csrf_token %}
    {{profile_form|crispy}}
    <button type="submit" class="btn btn-success">Update</button>
</form>
{% endblock %}
